<?xml version="1.0"?>
<model>
  <name>testbot</name>
  <version>1.0</version>
  <sdf>urdf/testbot.urdf</sdf>
  <author>
    <name>Duncan Campbell</name>
    <email>dac80@zips.uakron.edu</email>
  </author>
  <description>
    A test robot for implemeting object removal algorithm
  </description>
</model>
